<div class="container">
<!-- Content Header (Page header) -->
<section class="content-header" style="margin-bottom:15px">
  <h1>
    Eventos
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Eventos</li>
  </ol>
</section>

<section>


<!-- Main content -->
  <div class="col-md-8">
    <!-- Block buttons -->
    <div style="text-align:right;">
      <!-- <button class="btn btn-sm btn-default"
              style="margin-bottom:10px;"
              ng-show="indexCtrl.isAdmin"
              href="javascript:void(0)"
              ng-dialog="/static/templates/events/new-event.html"
              ng-dialog-controller="NewEventController as vm">
        <i class="fa fa-fw fa-plus"></i>
          Añadir Evento
      </button> -->
      <!-- <a href="/dashboard/eventos/add" class="btn btn-sm btn-default" style="margin-bottom:10px;" ng-show="indexCtrl.isAdmin">
        <i class="fa fa-fw fa-plus"></i>
        Añadir Evento
      </a> -->
    </div>

    <!-- Aqui se muestran los eventos TODO evento directive or template -->
    <events events="indexCtrl.events"></events>

    <!-- fin eventos -->

  </div>

  <div class="col-md-4">
    <!-- Block buttons -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Sidebar 1</h3>
      </div>
      <div class="box-body">
        <button class="btn btn-default btn-block">.btn-block</button>
        <button class="btn btn-default btn-block btn-flat">.btn-block .btn-flat</button>
        <button class="btn btn-default btn-block btn-sm">.btn-block .btn-sm</button>
      </div>
    </div><!-- /.box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Sidebar 2</h3>
      </div>
      <div class="box-body">
        <button class="btn btn-default btn-block">.btn-block</button>
        <button class="btn btn-default btn-block btn-flat">.btn-block .btn-flat</button>
        <button class="btn btn-default btn-block btn-sm">.btn-block .btn-sm</button>
      </div>
    </div><!-- /.box -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Sidebar 3</h3>
      </div>
      <div class="box-body">
        <button class="btn btn-default btn-block">.btn-block</button>
        <button class="btn btn-default btn-block btn-flat">.btn-block .btn-flat</button>
        <button class="btn btn-default btn-block btn-sm">.btn-block .btn-sm</button>
      </div>
    </div><!-- /.box -->
  </div>


  </section>

  <!-- antiguo index -->

  <!-- <events events="vm.events" ng-show="vm.events && vm.events.length"></events> -->

  <!-- <p ng-hide="vm.events && vm.events.length"> -->
    <!-- aqui no hay na... -->
  <!-- </p> -->

  <!-- <a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-event"
    href="javascript:void(0)"
    ng-show="vm.isAuthenticated"
    ng-dialog="/static/templates/events/new-event.html"
    ng-dialog-controller="NewEventController as vm"></a> -->

  <!-- end antiguo index -->

</div><!-- /.container -->
