<div class="container">
<!-- Content Header (Page header) -->
<section class="content-header" style="margin-bottom:15px">
  <h1>
    Eventos
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li class="active">Eventos</li>
  </ol>
</section>

<section>


<!-- Main content -->
  <div class="col-md-8">
    <!-- Block buttons -->
    <div style="text-align:right;">
      <!-- <button class="btn btn-sm btn-default"
              style="margin-bottom:10px;"
              ng-show="indexCtrl.isAdmin"
              href="javascript:void(0)"
              ng-dialog="/static/templates/events/new-event.html"
              ng-dialog-controller="NewEventController as vm">
        <i class="fa fa-fw fa-plus"></i>
          Añadir Evento
      </button> -->
      <!-- <a href="/dashboard/eventos/add" class="btn btn-sm btn-default" style="margin-bottom:10px;" ng-show="indexCtrl.isAdmin">
        <i class="fa fa-fw fa-plus"></i>
        Añadir Evento
      </a> -->
    </div>

    <!-- Aqui se muestran los eventos TODO evento directive or template -->
    <events events="indexCtrl.events"></events>

    <!-- fin eventos -->

  </div>

  <div class="col-md-4">


    <!-- Profile Image -->
    <div class="box box-primary" ng-controller="UserController as userCtrl" ng-show="userCtrl.isAuthenticated()">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="/static/dist/img/avatar_placeholder.png" alt="User profile picture">
        <h3 class="profile-username text-center">{{userCtrl.user.data.first_name}} {{userCtrl.user.data.last_name}}</h3>
        <p class="text-muted text-center">{{userCtrl.user.data.email}}</p>
        <p class="text-muted text-center">{{userCtrl.user.data.groups[0]}} (Grupo)</p>

        <div>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>TFG asignado</b>
            </li>
            <li class="list-group-item">
              <span>un super tfg para la super gestion ...</b> <a class="pull-right">Ver</span>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>Presentar a Convocatoria</b></a>
          <a href="#" class="btn btn-primary btn-block"><b>Subir documentación</b></a>
        </div>

        <div>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>TFGs como tutor</b>
            </li>
            <li class="list-group-item">
              <span>un super tfg para la super gestion ...</span> <a class="pull-right">Ver</a>
            </li>
            <li class="list-group-item">
              <span>otro super tfg para la super gestion ...</span> <a class="pull-right">Ver</a>
            </li>

            <li class="list-group-item">
              <b>TFGs como cotutor</b>
            </li>
            <li class="list-group-item">
              <span>otro super tfg mas para la super gestion ...</span> <a class="pull-right">Ver</a>
            </li>
            <li class="list-group-item">
              <span>Ninguno</span>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>Gestionar TFGs</b></a>
        </div>

      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- Calendar -->
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-calendar"></i>
        <h3 class="box-title">Calendar</h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
          <!-- button with a dropdown -->
          <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Add new event</a></li>
              <li><a href="#">Clear events</a></li>
              <li class="divider"></li>
              <li><a href="#">View calendar</a></li>
            </ul>
          </div>
          <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-primary btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /. tools -->
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <!--The calendar -->
        <div id="calendar" style="width: 100%"></div>
      </div><!-- /.box-body -->
      <div class="box-footer text-black">
        <div class="row">
          <div class="col-sm-6">
            <!-- Progress bars -->
            <div class="clearfix">
              <span class="pull-left">Task #1</span>
              <small class="pull-right">90%</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
            </div>

            <div class="clearfix">
              <span class="pull-left">Task #2</span>
              <small class="pull-right">70%</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <div class="clearfix">
              <span class="pull-left">Task #3</span>
              <small class="pull-right">60%</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
            </div>

            <div class="clearfix">
              <span class="pull-left">Task #4</span>
              <small class="pull-right">40%</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div><!-- /.box -->

    <!-- Block buttons -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Sidebar 1</h3>
      </div>
      <div class="box-body">
        <button class="btn btn-default btn-block">.btn-block</button>
        <button class="btn btn-default btn-block btn-flat">.btn-block .btn-flat</button>
        <button class="btn btn-default btn-block btn-sm">.btn-block .btn-sm</button>
      </div>
    </div><!-- /.box -->
  </div>


  </section>

  <!-- antiguo index -->

  <!-- <events events="vm.events" ng-show="vm.events && vm.events.length"></events> -->

  <!-- <p ng-hide="vm.events && vm.events.length"> -->
    <!-- aqui no hay na... -->
  <!-- </p> -->

  <!-- <a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-event"
    href="javascript:void(0)"
    ng-show="vm.isAuthenticated"
    ng-dialog="/static/templates/events/new-event.html"
    ng-dialog-controller="NewEventController as vm"></a> -->

  <!-- end antiguo index -->

  <script>
    //The Calender
    $("#calendar").datepicker();
  </script>

</div><!-- /.container -->
