<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    TFGs
    <small>Subida masiva de TFGs</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/dashboard/tfg">TFGs</a></li>
    <li class="active">Subir</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">


  <div class="col-md-offset-2 col-md-8">

    <!-- Horizontal Form -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Elige la configuracion adecuada</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <form id="upload-tfgs-form" class="form-horizontal" action="#" method="get">
        <div class="box-body">

            <div class="form-group">
              <label class="col-sm-4 control-label">Tipo</label>
              <div class="col-sm-8">
                <select id="upload-tipo" class="form-control">
                  <option>TFGs Informatica</option>
                  <option>TFGs Telecomunicaciones</option>
                  <option>TFGs Doble Grado</option>
                  <option>TFMs Informatica</option>
                  <option>TFMs Telecomunicaciones</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Titulo</label>
              <div class="col-sm-8">
                <select id="upload-titulo" class="form-control">
                  <option selected="true">A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">N. Alumnos</label>
              <div class="col-sm-8">
                <select id="upload-alumnos" class="form-control">
                  <option>A</option>
                  <option selected="true">B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Descripcion</label>
              <div class="col-sm-8">
                <select id="upload-desc" class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option selected="true">C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Conocimientos Previos</label>
              <div class="col-sm-8">
                <select id="upload-prev" class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option selected="true">D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Conocimientos HW y SW</label>
              <div class="col-sm-8">
                <select id="upload-hwsw" class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option selected="true">E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Email Tutor</label>
              <div class="col-sm-8">
                <select id="upload-tutor" class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option selected="true">F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Email Cotutor</label>
              <div class="col-sm-8">
                <select id="upload-cotutor" class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option selected="true">G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                </select>
              </div>
            </div>

            </div>
              <label class="col-sm-4 control-label">Fichero Excel</label>
              <div class="col-sm-8">
                <input id="upload-file" type="file">
              </div>
            <div class="form-group">

        </div><!-- /.box-body -->

        <div class="box-footer">

          <button type="submit" class="btn btn-info pull-right">Subir</button>

        </div><!-- /.box-footer -->
      </form>
    </div><!-- /.box -->

  </div>

</section><!-- /.content -->
