  <form role="form" class="form-horizontal" ng-submit="updateAsig()">

    <div class="box-body pad">

      <div class="form-group">
        <label class="col-sm-4 control-label">Titulacion</label>
        <div class="col-sm-8">
          <select class="form-control" ng-model="tfg.titulacion" ng-init="tfg.titulacion='GII'" disabled="true">
            <option value="GII">TFG Informatica</option>
            <option value="GITT">TFG Telecomunicaciones</option>
            <option value="GIM">TFG Doble Grado</option>
            <option value="MPII">TFM Informatica</option>
            <option value="MPIT">TFM Telecomunicaciones</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Titulo</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Titulo" ng-model="tfg.titulo" disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">N. Alumnos</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Numero Alumnos" ng-model="tfg.n_alumnos" disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Tutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Tutor" ng-model="tfg.tutor" disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Cotutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="tfg.cotutor" disabled="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Preasignado</label>
        <div class="col-sm-8">
          <input type="checkbox" ng-model="tfg.preasignado">
        </div>
      </div>

      <div class="form-group" ng-show="tfg.preasignado">
        <label class="col-sm-4 control-label">Email Alumno 1</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Alumno 1" ng-model="tfg.alumno1">
        </div>
      </div>

      <div class="form-group" ng-show="tfg.preasignado && tfg.n_alumnos>=2">
        <label class="col-sm-4 control-label">Email Alumno 2</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Alumno 2" ng-model="tfg.alumno2">
        </div>
      </div>

      <div class="form-group" ng-show="tfg.preasignado && tfg.n_alumnos==3">
        <label class="col-sm-4 control-label">Email Alumno 3</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Alumno 3" ng-model="tfg.alumno3">
        </div>
      </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-left" ng-disabled="loading">Guardar</button>
      <button type="button" class="btn btn-default pull-right" data-dismiss="modal"style="margin-left:10px; margin-right:10px;">Cancelar</button>
    </div>

  </form>
