<div class="box">

  <form role="form" class="form-horizontal" ng-submit="vm.submit()">

    <div class="box-body pad">

      Tfg...

      <div class="form-group">
        <label class="col-sm-4 control-label">Código</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Código" ng-model="vm.tfg.codigo">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Nombre</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Nombre" ng-model="vm.tfg.nombre">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Tipo</label>
        <div class="col-sm-8">
          <select id="upload-tipo" class="form-control">
            <option>TFGs Informatica</option>
            <option>TFGs Telecomunicaciones</option>
            <option>TFGs Doble Grado</option>
            <option>TFMs Informatica</option>
            <option>TFMs Telecomunicaciones</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Titulo</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Titulo" ng-model="vm.tfg.titulo">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">N. Alumnos</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Numero Alumnos" ng-model="vm.tfg.alumnos">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Descripcion</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Descripcion" ng-model="vm.tfg.descripcion">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Conocimientos Previos</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Conocimientos Previos" ng-model="vm.tfg.previos">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Conocimientos HW y SW</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Conocimientos HW y SW" ng-model="vm.tfg.hwsw">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Tutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Tutor" ng-model="vm.tfg.tutor">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Cotutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="vm.tfg.cotutor">
        </div>
      </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">Añadir</button>
    </div>

  </form>

</div>
