<div class="box">

  <form role="form" class="form-horizontal" ng-submit="submit()">

    <div class="box-body pad">

      <div class="form-group">
        <label class="col-sm-4 control-label">Titulacion</label>
        <div class="col-sm-8">
          <select class="form-control" ng-model="vm.tfg.titulacion" ng-init="vm.tfg.titulacion='GII'" required="true">
            <option value="GII">TFG Informatica</option>
            <option value="GITT">TFG Telecomunicaciones</option>
            <option value="GIM">TFG Doble Grado</option>
            <option value="MPII">TFM Informatica</option>
            <option value="MPIT">TFM Telecomunicaciones</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Preasignado</label>
        <div class="col-sm-8">
          <input type="checkbox" ng-model="vm.tfg.preasignado">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Titulo</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Titulo" ng-model="vm.tfg.titulo" required="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">N. Alumnos</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Numero Alumnos" ng-model="vm.tfg.alumnos" required="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Descripcion</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="3" placeholder="Descripcion" ng-model="vm.tfg.descripcion" required="true"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-4 control-label">Conocimientos Previos</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="3" placeholder="Conocimientos Previos" ng-model="vm.tfg.previos"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Conocimientos HW y SW</label>
        <div class="col-sm-8">
          <textarea class="form-control" rows="3" placeholder="Conocimientos HW y SW" ng-model="vm.tfg.hwsw"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Tutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Tutor" ng-model="vm.tfg.tutor" required="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Email Cotutor</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="vm.tfg.cotutor">
        </div>
      </div>

      <div class="form-group" ng-show="vm.tfg.preasignado">
        <label class="col-sm-4 control-label">Email Alumno 1</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="vm.tfg.alumno1">
        </div>
      </div>

      <div class="form-group" ng-show="vm.tfg.preasignado">
        <label class="col-sm-4 control-label">Email Alumno 2</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="vm.tfg.alumno2">
        </div>
      </div>

      <div class="form-group" ng-show="vm.tfg.preasignado">
        <label class="col-sm-4 control-label">Email Alumno 3</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Email Cotutor" ng-model="vm.tfg.alumno3">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Tipo</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" placeholder="Tipo" ng-model="vm.tfg.tipo" required="true">
        </div>
      </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="loading">Añadir</button>
    </div>

  </form>

</div>
