
  <a
    id="boton-edit"
    class="btn btn-default disabled"
    data-toggle="modal"
    data-target="#modal-edit"
    ng-click="loadSelectedTFG()"
  >
    Editar
  </a>

  <a
    id="boton-asignar"
    class="btn btn-default disabled"
    data-toggle="modal"
    data-target="#modal-asignar"
    ng-click="loadSelectedTFG()"
  >
    Asignar
  </a>

  <div class="example-modal">
    <div class="modal fade" id="modal-edit">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editar TFG</h4>
          </div>
          <div class="modal-body">
            <new-tfg-modal tfg="selectedTFG"></new-tfg-modal>
            <!-- <new-user-modal user="selectedUser"></new-user-modal> -->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div><!-- /.example-modal -->

  <div class="example-modal">
    <div class="modal fade" id="modal-asignar">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Asignar TFG</h4>
          </div>
          <div class="modal-body">
            <!-- <new-tfg-modal tfg="selectedTFG"></new-tfg-modal> -->
            <!-- <new-user-modal user="selectedUser"></new-user-modal> -->

            <form role="form" class="form-horizontal" ng-submit="asignarTFG()">

              <div class="box-body pad">

                <p>
                  Asignar el TFG: <b>{{selectedTFG.titulo}}</b>
                </p>

                <div class="form-group">
                  <label class="col-sm-4 control-label">Email Alumno 1</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" placeholder="Email Alumno 1" ng-model="selectedTFG.alumno1" required="true">
                  </div>
                </div>

                <div class="form-group" ng-show="selectedTFG.n_alumnos >= 2">
                  <label class="col-sm-4 control-label">Email Alumno 2</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" placeholder="Email Alumno 2" ng-model="selectedTFG.alumno2">
                  </div>
                </div>

                <div class="form-group" ng-show="selectedTFG.n_alumnos >= 3">
                  <label class="col-sm-4 control-label">Email Alumno 3</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" placeholder="Email Alumno 3" ng-model="selectedTFG.alumno3">
                  </div>
                </div>

              </div>

              <div class="box-footer">
                <button type="button" class="btn btn-danger pull-left" ng-show="selectedTFG.asignado" ng-click="tfgsCtrl.desasignar()">Desasignar</button>
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="loading">Asignar</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal"style="margin-left:10px; margin-right:10px;">Cancelar</button>
              </div>

            </form>


          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div><!-- /.example-modal -->

  <table id="tabla-tfgs" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Titulación</th>
        <th>Tipo</th>
        <th>Título</th>
        <th>Alumnos</th>
        <th>Descripcion</th>
        <th>Conocimientos Previos</th>
        <th>Conocimientos HW/SW</th>
        <th>Tutor</th>
        <th>Cotutor</th>
        <th>Validado</th>
        <th>Publicado</th>
        <th>Asignado</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Titulación</th>
        <th>Tipo</th>
        <th>Título</th>
        <th>Alumnos</th>
        <th>Descripcion</th>
        <th>Conocimientos Previos</th>
        <th>Conocimientos HW/SW</th>
        <th>Tutor</th>
        <th>Cotutor</th>
        <th>Validado</th>
        <th>Publicado</th>
        <th>Asignado</th>
      </tr>
    </tfoot>
  </table>

  <style>
    div.dataTables_filter{
      float: right;
    }

    div.dataTables_paginate{
      float: right;
    }

    div.clear{
      clear: both;
    }

    td.text-overf {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>


  <script>
    $(document).ready(function () {
      $.fn.dataTable.ext.buttons.alert = {
      className: 'buttons-alert',

      action: function ( e, dt, node, config ) {
              alert( this.text() );
          }
      };

      var table = $("#tabla-tfgs").DataTable({
          //sDom: '<Bf>rt<"col-md-6"i><"col-md-6"p><"col-md-12"l>',
          sDom: '<Bf>rt<pi><"clear"l>',
          language: {
              "url": "/static/plugins/datatables/language/Spanish.json"
          },
          select: {
              style: 'multi'
          },
          processing: true,
          responsive: true,
          buttons: [
              {
                  text: 'Reload',
                  action: function ( e, dt, node, config ) {
                      dt.ajax.reload();
                  }
              },
              'selectAll',
              'selectNone'
          ],
          ajax: "/api/v1/tfgs/",
          sDefaultContent: "hello",
          "columnDefs": [
            { className: "text-overf", "targets": [ 2, 4, 5, 6 ] }
          ],
          columns: [
            {"data" : "titulacion.codigo"},
            {"data" : "tipo"},
            {"data" : "titulo"},
            {"data" : "n_alumnos"},
            {"data" : "descripcion"},
            {"data" : "conocimientos_previos"},
            {"data" : "hard_soft"},
            {"data" : "tutor.email"},
            {
              "data" : "cotutor.email",
              "defaultContent": "<i>N/D</i>"
            },
            {"data" : "validado"},
            {"data" : "publicado"},
            {"data" : "asignado"}
          ]
        });

        function botones() {
            var selectedRows = table.rows( { selected: true } );

            table.button( 'edit:name' ).enable( selectedRows === 1 );
            if(selectedRows.count() === 1){
              // $("#boton-edit").attr("disabled",selectedRows === 1);
              $("#boton-edit").removeClass("disabled");
              if(!selectedRows.data()[0].asignado){
                $("#boton-asignar").removeClass("disabled");
              }
            } else {
              $("#boton-edit").addClass("disabled");
              $("#boton-asignar").addClass("disabled");
            }
        }

        table.on( 'select', botones);

        table.on( 'deselect', botones);

        new $.fn.dataTable.Buttons( table, {
            buttons: [
              'copyHtml5',
              'excelHtml5',
              'csvHtml5',
              'pdfHtml5'
            ]
        } );

        table.on( 'preInit.dt', function (e, settings) {
          // var container = $(table.table().container());
          var container = $(table.buttons(1).container()[0]);
          container.prepend(table.buttons(1).container()[1]);

          container.append($('#boton-edit'));
          container.append($('#boton-asignar'));
        });


      // $('#example2').DataTable({
      //   "paging": true,
      //   "lengthChange": false,
      //   "searching": false,
      //   "ordering": true,
      //   "info": true,
      //   "autoWidth": false,
      //   "language": {
      //       "url": "/static/plugins/datatables/language/Spanish.json"
      //   }
      // });
    });
  </script>
