<div class="box">
  <div class="box-header">
    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
  </div><!-- /.box-header -->

  <div class="box-body">

    <a
      id="boton-edit"
      class="btn btn-default disabled"
      data-toggle="modal"
      data-target="#modal-edit"
      ng-click="loadSelectedTFG()"
    >
      Editar
    </a>

    <div class="example-modal">
      <div class="modal fade" id="modal-edit">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar TFG</h4>
            </div>
            <div class="modal-body">
              <new-tfg-modal tfg="selectedTFG"></new-tfg-modal>
              <!-- <new-user-modal user="selectedUser"></new-user-modal> -->
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div><!-- /.example-modal -->

    <table id="tabla-tfgs" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titulación</th>
          <th>Tipo</th>
          <th>Título</th>
          <th>Alumno 1</th>
          <th>Alumno 2</th>
          <th>Alumno 3</th>
          <th>Tutor</th>
          <th>Cotutor</th>
          <th>Validado</th>
          <th>Publicado</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Titulación</th>
          <th>Tipo</th>
          <th>Título</th>
          <th>Alumno 1</th>
          <th>Alumno 2</th>
          <th>Alumno 3</th>
          <th>Tutor</th>
          <th>Cotutor</th>
          <th>Validado</th>
          <th>Publicado</th>
        </tr>
      </tfoot>
    </table>

  </div><!-- /.box-body -->
</div><!-- /.box -->


  <style>
    div.dataTables_filter{
      float: right;
    }

    div.dataTables_paginate{
      float: right;
    }

    div.clear{
      clear: both;
    }

    td.text-overf {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>


  <script>
    $(document).ready(function () {
      $.fn.dataTable.ext.buttons.alert = {
      className: 'buttons-alert',

      action: function ( e, dt, node, config ) {
              alert( this.text() );
          }
      };

      var table = $("#tabla-tfgs").DataTable({
          //sDom: '<Bf>rt<"col-md-6"i><"col-md-6"p><"col-md-12"l>',
          sDom: '<Bf>rt<pi><"clear"l>',
          language: {
              "url": "/static/plugins/datatables/language/Spanish.json"
          },
          select: {
              style: 'multi'
          },
          responsive: true,
          buttons: [
              {
                  text: 'Reload',
                  action: function ( e, dt, node, config ) {
                      dt.ajax.reload();
                  }
              },
              'selectAll',
              'selectNone'
          ],
          ajax: "/api/v1/tfgs_asig/",
          sDefaultContent: "hello",
          "columnDefs": [
            { className: "text-overf", "targets": [ 2 ] }
          ],
          columns: [
            {"data" : "tfg.titulacion.codigo"},
            {"data" : "tfg.tipo"},
            {"data" : "tfg.titulo"},
            {"data" : "alumno_1.email"},
            {
              "data" : "alumno_2.email",
              "defaultContent": "<i>N/D</i>"
            },
            {
              "data" : "alumno_3.email",
              "defaultContent": "<i>N/D</i>"
            },
            {"data" : "tfg.tutor.email"},
            {
              "data" : "tfg.cotutor.email",
              "defaultContent": "<i>N/D</i>"
            },
            {"data" : "tfg.validado"},
            {"data" : "tfg.publicado"}
          ]
        });

        table.on( 'select', function () {
            var selectedRows = table.rows( { selected: true } ).count();

            table.button( 'edit:name' ).enable( selectedRows === 1 );
            if(selectedRows === 1){
              // $("#boton-edit").attr("disabled",selectedRows === 1);
              $("#boton-edit").removeClass("disabled");
            } else {
              $("#boton-edit").addClass("disabled");
            }
        } );

        table.on( 'deselect', function () {
            var selectedRows = table.rows( { selected: true } ).count();

            table.button( 'edit:name' ).enable( selectedRows === 1 );
            if(selectedRows === 1){
              // $("#boton-edit").attr("disabled",selectedRows === 1);
              $("#boton-edit").removeClass("disabled");
            } else {
              $("#boton-edit").addClass("disabled");
            }
        } );

        new $.fn.dataTable.Buttons( table, {
            buttons: [
              'copyHtml5',
              'excelHtml5',
              'csvHtml5',
              'pdfHtml5'
            ]
        } );

        table.on( 'preInit.dt', function (e, settings) {
          // var container = $(table.table().container());
          var container = $(table.buttons(1).container()[0]);
          container.prepend(table.buttons(1).container()[1]);

          container.append($('#boton-edit'));
        });


      // $('#example2').DataTable({
      //   "paging": true,
      //   "lengthChange": false,
      //   "searching": false,
      //   "ordering": true,
      //   "info": true,
      //   "autoWidth": false,
      //   "language": {
      //       "url": "/static/plugins/datatables/language/Spanish.json"
      //   }
      // });
    });
  </script>
