<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Upload
    <small>Subida masiva</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Upload</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">


  <div class="col-md-offset-2 col-md-8">

    <!-- Horizontal Form -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Elige la configuracion adecuada</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <form id="upload-tfgs-form" class="form-horizontal" action="#" method="post">
        <div class="box-body">

            <div class="form-group">
              <label class="col-sm-3 control-label">API</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" placeholder="/api/v1/...">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Fichero Excel</label>
              <div class="col-sm-9">
                <input id="upload-file" type="file">
              </div>
            </div>

        </div><!-- /.box-body -->

        <div class="box-footer">

          <button type="submit" class="btn btn-primary pull-right">Subir</button>

        </div><!-- /.box-footer -->
      </form>
    </div><!-- /.box -->

  </div>

</section><!-- /.content -->
