
  <form role="form" class="form-horizontal" ng-submit="edit()">

    <div class="box-body pad">

      <div class="form-group">
        <label class="col-sm-3 control-label">Código</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="Código" ng-model="departamento.codigo" required="true">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="Nombre" ng-model="departamento.nombre" required="true">
        </div>
      </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="loading">Guardar</button>
    </div>

  </form>
