<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-controller="DashSidebarController as sidebarCtrl">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.email}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>

      <li ng-class="getClass('/dashboard')">
        <a href="/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview" ng-class="getClass('/dashboard/usuarios')">
        <a href="#">
          <i class="fa fa-users"></i> <span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/dashboard/usuarios"><i class="fa fa-circle-o"></i> Todos</a></li>
          <li><a href="/dashboard/usuarios/add"><i class="fa fa-circle-o"></i> Añadir</a></li>
        </ul>
      </li>

      <li class="treeview" ng-class="getClass('/dashboard/departamentos')">
        <a href="#">
          <i class="fa fa-user"></i> <span>Departamentos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/dashboard/departamentos"><i class="fa fa-circle-o"></i> Todos</a></li>
          <li><a href="/dashboard/departamentos/add"><i class="fa fa-circle-o"></i> Añadir</a></li>
        </ul>
      </li>

      <li class="treeview" ng-class="getClass('/dashboard/eventos')">
        <a href="#">
          <i class="fa fa-calendar-o"></i> <span>Eventos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/dashboard/eventos"><i class="fa fa-circle-o"></i> Todos</a></li>
          <li><a href="/dashboard/eventos/info"><i class="fa fa-circle-o text-aqua"></i> Informativos</a></li>
          <li><a href="/dashboard/eventos/convocatoria"><i class="fa fa-circle-o text-red"></i> Convocatorias</a></li>
          <li><a href="/dashboard/eventos/add"><i class="fa fa-circle-o"></i> Añadir</a></li>
        </ul>
      </li>

      <li class="treeview" ng-class="getClass('/dashboard/tfgs')">
        <a href="#">
          <i class="fa fa-folder-open"></i> <span>TFGs</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/dashboard/tfgs"><i class="fa fa-circle-o"></i> Todos</a></li>
          <li><a href="/dashboard/tfgs-asig"><i class="fa fa-circle-o"></i> Asignados</a></li>
          <li><a href="/dashboard/tfgs/add"><i class="fa fa-circle-o"></i> Nuevo</a></li>
          <li><a href="/dashboard/tfgs/upload"><i class="fa fa-circle-o"></i> Subir</a></li>
        </ul>
      </li>

      <li ng-class="getClass('/dashboard/comisiones')">
        <a href="/dashboard/comisiones">
          <i class="fa fa-group"></i> <span>Comisiones</span>
        </a>
      </li>

      <li ng-class="getClass('/dashboard/tribunales')">
        <a href="/dashboard/tribunales">
          <i class="fa fa-legal"></i> <span>Tribunales</span>
        </a>
      </li>

      <li ng-class="getClass('/dashboard/upload')">
        <a href="/dashboard/upload">
          <i class="fa fa-upload"></i> <span>Upload</span>
        </a>
      </li>

      <li ng-class="getClass('/dashboard/calendar')">
        <a href="/dashboard/calendar">
          <i class="fa fa-calendar"></i> <span>Calendar</span>
        </a>
      </li>

      <li>
        <a href="pages/mailbox/mailbox.html">
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <small class="label pull-right bg-yellow">12</small>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
