<div ng-controller="AppCtrl" layout="column" ng-cloak>

    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
    <md-content>
      <h1 class="md-toolbar-tools">Herramientas</h1>
    </md-content>
    <md-content layout-padding>
      <md-button style="display: block; width: 95%;">
        Eventos
      </md-button>
    </md-content>
    <md-content layout-padding>
      <md-button style="display: block; width: 95%;">
        TFGs
      </md-button>
    </md-content>
    </md-sidenav>
</div>
