
  <form role="form" class="form-horizontal" ng-submit="update()">

    <div class="box-body pad">

      <div class="form-group">
        <label class="col-sm-3 control-label">Tipo</label>
        <div class="col-sm-9">
          <select id="user-tipo" class="form-control" ng-model="user.tipo" disabled>
            <option value="Alumno">Alumno</option>
            <option value="Profesor">Profesor</option>
            <option value="Usuario">Usuario</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="Nombre" ng-model="user.first_name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Apellidos</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="Apellidos" ng-model="user.last_name">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="Email" ng-model="user.email" disabled>
        </div>
      </div>

      <div id="user-dpt" class="form-group" ng-show="user.tipo == 'Profesor'">
        <label class="col-sm-3 control-label">Departamento</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="user.departamento">
            <option value="AL">AL</option>
            <option value="AM">AM</option>
            <option value="ATC">ATC</option>
            <option value="DC">DC</option>
            <option value="DECSAI">DECSAI</option>
            <option value="EFICON">EFICON</option>
            <option value="ELECTRONICA">ELECTRONICA</option>
            <option value="EMPRESAS">EMPRESAS</option>
            <option value="ERGODIC">ERGODIC</option>
            <option value="ESTADISTICA">ESTADISTICA</option>
            <option value="FILOSOFIA">FILOSOFIA</option>
            <option value="FISICAAPLI">FISICAAPLI</option>
            <option value="LSI">LSI</option>
            <option value="MATEAPLI">MATEAPLI</option>
            <option value="OPTICA">OPTICA</option>
            <option value="TSTC">TSTC</option>
            <option value="CN">CN</option>
          </select>
        </div>
      </div>

 <!--     <div id="user-dpt" class="form-group" ng-show="user.tipo == 'Profesor'" ng-controller="DashboardController">
 <!--     <div id="user-dpt" class="form-group" ng-show="user.tipo == 'Profesor'" ng-controller="DashboardController">
        <label class="col-sm-3 control-label">Departamento</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="user.departamento" ng-options="item as item.codigo for item in DashboardController.departamentos" disabled>
          </select>
        </div>
      </div>
      -->

      <div class="form-group">
        <label class="col-sm-3 control-label">Admin</label>
        <div class="col-sm-9">
          <input style="height:30px;" type="checkbox" ng-model="user.is_admin">
        </div>
      </div>

    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-danger pull-left" ng-click="remove()" ng-disabled="loading">Borrar</button>
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="loading">Guardar</button>
      <button type="button" class="btn btn-default pull-right" data-dismiss="modal"style="margin-left:10px; margin-right:10px;">Cerrar</button>
    </div>

  </form>


  <script>
    $(document).ready(function(){
      $('#user-tipo').on('change',function(){
        // var selection = $(this).val();
        // if( selection==="profesores"){
        //   $("#user-dpt").removeClass("hidden");
        // }
        // else{
        //   $("#user-dpt").addClass("hidden");
        // }
      });
    });
  </script>
