<!-- Aqui se muestran los usuarios -->

<div class="box">
  <div class="box-header">
    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>usuario1</td>
          <td>Usuario</td>
          <td>Fulanito</td>
          <td>fulanito@correo.ugr.es</td>
          <td>Administrador</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario1</td>
          <td>Usuario</td>
          <td>Fulanito</td>
          <td>fulanito@correo.ugr.es</td>
          <td>Alumno</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario1</td>
          <td>Usuario</td>
          <td>Fulanito</td>
          <td>fulanito@correo.ugr.es</td>
          <td>Administrador</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario1</td>
          <td>Usuario</td>
          <td>Fulanito</td>
          <td>fulanito@correo.ugr.es</td>
          <td>Administrador</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario1</td>
          <td>Usuario</td>
          <td>Fulanito</td>
          <td>fulanito@correo.ugr.es</td>
          <td>Administrador</td>
          <td> - </td>
        </tr>
        <tr>
          <td>pepito123</td>
          <td>Pepito</td>
          <td>Perez Garcia</td>
          <td>pepitoperez@correo.ugr.es</td>
          <td>Alumno</td>
          <td> - </td>
        </tr>
        <tr>
          <td>pepito123</td>
          <td>Pepito</td>
          <td>Perez Garcia</td>
          <td>pepitoperez@correo.ugr.es</td>
          <td>Alumno</td>
          <td> - </td>
        </tr>
        <tr>
          <td>pepito123</td>
          <td>Pepito</td>
          <td>Perez Garcia</td>
          <td>pepitoperez@correo.ugr.es</td>
          <td>Alumno</td>
          <td> - </td>
        </tr>
        <tr>
          <td>pepito123</td>
          <td>Pepito</td>
          <td>Perez Garcia</td>
          <td>pepitoperez@correo.ugr.es</td>
          <td>Alumno</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario2</td>
          <td>User</td>
          <td>Menganito Garcia</td>
          <td>menganito@correo.ugr.es</td>
          <td>Profesor</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario2</td>
          <td>User</td>
          <td>Menganito Garcia</td>
          <td>menganito@correo.ugr.es</td>
          <td>Profesor</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario2</td>
          <td>User</td>
          <td>Menganito Garcia</td>
          <td>menganito@correo.ugr.es</td>
          <td>Administrador</td>
          <td> - </td>
        </tr>
        <tr>
          <td>usuario2</td>
          <td>User</td>
          <td>Menganito Garcia</td>
          <td>menganito@correo.ugr.es</td>
          <td>Profesor</td>
          <td> - </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script>
  $(function () {
    $("#example1").DataTable({
      "language": {
          "url": "/static/plugins/datatables/language/Spanish.json"
      }
    });
    // $('#example2').DataTable({
    //   "paging": true,
    //   "lengthChange": false,
    //   "searching": false,
    //   "ordering": true,
    //   "info": true,
    //   "autoWidth": false,
    //   "language": {
    //       "url": "/static/plugins/datatables/language/Spanish.json"
    //   }
    // });
  });
</script>
