<!-- Aqui se muestran los usuarios -->

<div class="box">
  <div class="box-header">
    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="tabla-users" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<style>
  div.dataTables_filter{
    float: right;
  }

  div.dataTables_paginate{
    float: right;
  }

  div.clear{
    clear: both;
  }
</style>

<script>
  $(document).ready(function () {
    $.fn.dataTable.ext.buttons.alert = {
    className: 'buttons-alert',

    action: function ( e, dt, node, config ) {
            alert( this.text() );
        }
    };

    $("#tabla-users").DataTable({
        //sDom: '<Bf>rt<"col-md-6"i><"col-md-6"p><"col-md-12"l>',
        sDom: '<Bf>rt<pi><"clear"l>',
        language: {
            "url": "/static/plugins/datatables/language/Spanish.json"
        },
        select: {
            style: 'multi'
        },
        responsive: true,
        buttons: [
            {
                text: 'Reload',
                action: function ( e, dt, node, config ) {
                    dt.ajax.reload();
                }
            },
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5',
            {
                extend: 'alert',
                text: 'My button 2'
            }
        ],
        ajax: "/api/v1/usuarios/",
        columns: [
          {"data" : "dni"},
          {"data" : "first_name"},
          {"data" : "last_name"},
          {"data" : "email"},
          {"data" : "is_admin"}
        ]
      });

    // $('#example2').DataTable({
    //   "paging": true,
    //   "lengthChange": false,
    //   "searching": false,
    //   "ordering": true,
    //   "info": true,
    //   "autoWidth": false,
    //   "language": {
    //       "url": "/static/plugins/datatables/language/Spanish.json"
    //   }
    // });
  });
</script>
