 <!-- Content Header (Page header) -->
 <section class="content-header">
   <h1>
     Comisiones
   </h1>
   <ol class="breadcrumb">
     <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
     <li><a href="/dashboard/comisiones">Comisiones</a></li>
   </ol>
 </section>

 <!-- Main content -->
 <section class="content">

     <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#modal-generar">Generar comisiones</button>

 </section><!-- /.content -->


 <div class="example-modal">
   <div class="modal fade" id="modal-generar">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">Generar Comisiones</h4>
         </div>
         <div class="modal-body">

           <form role="form" class="form-horizontal" ng-submit="vm.generarComisiones()">

             <div class="box-body pad">

               <p>
                 Generar comisiones para:
               </p>

               <div class="form-group">
                 <label class="col-sm-4 control-label">Convocatoria de</label>
                 <div class="col-sm-8">
                   <select class="form-control" ng-model="vm.convocatoria">
                     <option value="">Ninguna</option>
                     <option value="CONV_JUN">Junio</option>
                     <option value="CONV_SEPT">Septiembre</option>
                     <option value="CONV_DIC">Diciembre</option>
                   </select>
                 </div>
               </div>

             </div>



             <div class="box-footer">
               <button type="submit" class="btn btn-primary pull-left">Generar</button>
               <button type="button" class="btn btn-default pull-right" data-dismiss="modal"style="margin-left:10px; margin-right:10px;">Cancelar</button>
             </div>

           </form>


         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
   </div><!-- /.modal -->
 </div><!-- /.example-modal -->
