
 <!-- Content Header (Page header) -->
 <section class="content-header">
   <h1>
     Departamentos
     <small>Todos los Departamentos</small>
   </h1>
   <ol class="breadcrumb">
     <li><a href="/dashboard"><i class="fa fa-user"></i> Dashboard</a></li>
     <li><a href="/dashboard/departamentos">Deptartamentos</a></li>
     <li class="active">Todos</li>
   </ol>
 </section>

  <!-- Main content -->
  <section class="content">
  <!-- <section class="content" ng-controller="UsersController as usersCtrl"> -->

    <!-- <users users="usersCtrl.users"></users> -->

    <!-- Aqui se muestran los usuarios -->

    <div class="box">
      <div class="box-header">
        <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="tabla-dpts" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <!-- <th>Encargado</th> -->
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <!-- <th>Encargado</th> -->
            </tr>
          </tfoot>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <style>
      div.dataTables_filter{
        float: right;
      }

      div.dataTables_paginate{
        float: right;
      }

      div.clear{
        clear: both;
      }
    </style>

    <script>
      $(document).ready(function () {

        var table = $("#tabla-dpts").DataTable({
            //sDom: '<Bf>rt<"col-md-6"i><"col-md-6"p><"col-md-12"l>',
            sDom: '<Bf>rt<pi><"clear"l>',
            language: {
                "url": "/static/plugins/datatables/language/Spanish.json"
            },
            responsive: true,
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            ajax: "/api/v1/departamentos",
            columns: [
              {"data" : "codigo"},
              {"data" : "nombre"}
            ]
          });

      });
    </script>


  </section><!-- /.content -->
