
 <!-- Content Header (Page header) -->
 <section class="content-header">
   <h1>
     Departamentos
     <small>Todos los Departamentos</small>
   </h1>
   <ol class="breadcrumb">
     <li><a href="/dashboard"><i class="fa fa-user"></i> Dashboard</a></li>
     <li><a href="/dashboard/departamentos">Deptartamentos</a></li>
     <li class="active">Todos</li>
   </ol>
 </section>

  <!-- Main content -->
  <section class="content">
  <!-- <section class="content" ng-controller="UsersController as usersCtrl"> -->

    <!-- <users users="usersCtrl.users"></users> -->

    <!-- Aqui se muestran los usuarios -->

    <div class="box">
      <div class="box-header">
        <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
      </div><!-- /.box-header -->
      <div class="box-body">

        <a
          id="boton-edit"
          class="btn btn-default disabled"
          data-toggle="modal"
          data-target="#modal-edit"
          ng-click="loadSelectedDpt()"
        >
          Editar
        </a>

        <div class="example-modal">
          <div class="modal fade" id="modal-edit">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Editar TFG</h4>
                </div>
                <div class="modal-body">

                   <edit-departamento departamento="selectedDpt"></edit-departamento>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div><!-- /.example-modal -->

        <table id="tabla-dpts" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <!-- <th>Encargado</th> -->
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <!-- <th>Encargado</th> -->
            </tr>
          </tfoot>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <style>
      div.dataTables_filter{
        float: right;
      }

      div.dataTables_paginate{
        float: right;
      }

      div.clear{
        clear: both;
      }
    </style>

    <script>
      // $(document).ready(function () {
      $(document).on('/dashboard/departamentos', function(event){
        $(document).off( '/dashboard/departamentos');

        var table = $("#tabla-dpts").DataTable({
            //sDom: '<Bf>rt<"col-md-6"i><"col-md-6"p><"col-md-12"l>',
            sDom: '<Bf>rt<pi><"clear"l>',
            language: {
                "url": "/static/plugins/datatables/language/Spanish.json"
            },
            select: {
                style: 'single'
            },
            processing: true,
            scrollX: true,
            // responsive: true,
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            ajax: "/api/v1/departamentos/",
            columns: [
              {"data" : "codigo"},
              {"data" : "nombre"}
            ]
        });

        table.on( 'select', function () {
            var selectedRows = table.rows( { selected: true } ).count();

            table.button( 'edit:name' ).enable( selectedRows === 1 );
            if(selectedRows === 1){
              // $("#boton-edit").attr("disabled",selectedRows === 1);
              $("#boton-edit").removeClass("disabled");
            } else {
              $("#boton-edit").addClass("disabled");
            }
        } );

        table.on( 'deselect', function () {
            var selectedRows = table.rows( { selected: true } ).count();

            table.button( 'edit:name' ).enable( selectedRows === 1 );
            if(selectedRows === 1){
              // $("#boton-edit").attr("disabled",selectedRows === 1);
              $("#boton-edit").removeClass("disabled");
            } else {
              $("#boton-edit").addClass("disabled");
            }
        } );

        table.on( 'preInit.dt', function (e, settings) {
          // var container = $(table.table().container());
          var container = $(table.buttons(1).container()[0]);
          container.prepend(table.buttons(1).container()[1]);

          container.append($('#boton-edit'));

          // table.button( 'edit:name' ).attr('ng-dialog','/static/templates/layout/dashboard/users/add-user.html');
          // table.button( 'edit:name' ).attr('ng-dialog-controller','NewUserController as vm');

          // $('a.buttons-edit').attr('ng-dialog','/static/templates/users/new-user.html');
          // $('a.buttons-edit').attr('ng-dialog-controller','NewUserController as vm');

          // $('a.buttons-edit').attr('data-toggle','modal');
          // $('a.buttons-edit').attr('data-target','#modal-edit');


        });

      });
    </script>


  </section><!-- /.content -->
