<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    TFGs
    <small>Subida masiva de TFGs</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/dashboard/tfg">TFGs</a></li>
    <li class="active">Subir</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">


  <div class="col-md-offset-2 col-md-8">

    <!-- Horizontal Form -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Elige la configuracion adecuada</h3>
      </div><!-- /.box-header -->
      <!-- form start -->
      <form id="upload-tfgs-form" class="form-horizontal" ng-controller="UploadTfgsController as uploadCtrl" ng-submit="uploadCtrl.submit()">
        <div class="box-body">

            <div class="form-group">
              <label class="col-sm-4 control-label">Titulacion</label>
              <div class="col-sm-8">
                <select id="upload-titulacion" class="form-control" ng-model="uploadCtrl.titulacion">
                  <option value="GII" ng-selected="false">TFG Informatica</option>
                  <option value="GITT">TFG Telecomunicaciones</option>
                  <option value="GIM">TFG Doble Grado</option>
                  <option value="MPII">TFM Informatica</option>
                  <option value="MPIT">TFM Telecomunicaciones</option>
                </select>
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-4 control-label">Preasignados</label>
              <div class="col-sm-8">
                <input id="preasignados" type="checkbox" ng-model="uploadCtrl.preasignados">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Fila Inicio</label>
              <div class="col-sm-8">
                <input id="p-fila" class="form-control" type="text" placeholder="5" ng-model="uploadCtrl.p_fila">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Fila Fin</label>
              <div class="col-sm-8">
                <input id="u-fila" class="form-control" type="text" placeholder="15" ng-model="uploadCtrl.u_fila">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Titulo</label>
              <div class="col-sm-8">
                <select id="upload-titulo" class="form-control" ng-model="uploadCtrl.titulo">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option ng-selected="false">E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">N. Alumnos</label>
              <div class="col-sm-8">
                <select id="upload-alumnos" class="form-control" ng-model="uploadCtrl.n_alumnos">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option ng-selected="false">F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Descripcion</label>
              <div class="col-sm-8">
                <select id="upload-desc" class="form-control" ng-model="uploadCtrl.descripcion">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option ng-selected="false">G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Conocimientos Previos</label>
              <div class="col-sm-8">
                <select id="upload-prev" class="form-control" ng-model="uploadCtrl.conocimientos_previos">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option ng-selected="false">H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Conocimientos HW y SW</label>
              <div class="col-sm-8">
                <select id="upload-hwsw" class="form-control" ng-model="uploadCtrl.hard_soft">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option ng-selected="false">I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Titulacion</label>
              <div class="col-sm-8">
                <select id="titulacion2" class="form-control" ng-model="uploadCtrl.titulacion2">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option ng-selected="false">J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Email Tutor</label>
              <div class="col-sm-8">
                <select id="upload-tutor" class="form-control" ng-model="uploadCtrl.tutor">
                  <option>A</option>
                  <option ng-selected="false">B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Email Cotutor</label>
              <div class="col-sm-8">
                <select id="upload-cotutor" class="form-control" ng-model="uploadCtrl.cotutor">
                  <option>A</option>
                  <option ng-selected="false">B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-show="uploadCtrl.preasignados">
              <label class="col-sm-4 control-label">Email Alumno 1</label>
              <div class="col-sm-8">
                <select id="upload-alumno1" class="form-control" ng-model="uploadCtrl.alumno1">
                  <option>A</option>
                  <option>B</option>
                  <option ng-selected="false">C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-show="uploadCtrl.preasignados">
              <label class="col-sm-4 control-label">Email Alumno 2</label>
              <div class="col-sm-8">
                <select id="upload-alumno2" class="form-control" ng-model="uploadCtrl.alumno2">
                  <option>A</option>
                  <option>B</option>
                  <option ng-selected="false">C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-show="uploadCtrl.preasignados">
              <label class="col-sm-4 control-label">Email Alumno 3</label>
              <div class="col-sm-8">
                <select id="upload-alumno3" class="form-control" ng-model="uploadCtrl.alumno3">
                  <option>A</option>
                  <option>B</option>
                  <option ng-selected="false">C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Tipo</label>
              <div class="col-sm-8">
                <select id="tipo" class="form-control" ng-model="uploadCtrl.tipo">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option ng-selected="false">D</option>
                  <option>E</option>
                  <option>F</option>
                  <option>G</option>
                  <option>H</option>
                  <option>I</option>
                  <option>J</option>
                  <option>K</option>
                  <option>L</option>
                  <option>M</option>
                  <option>N</option>
                  <option>O</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Fichero Excel</label>
              <div class="col-sm-8">
                <input id="upload-file" type="file">
              </div>
            </div>

        </div><!-- /.box-body -->

        <div class="box-footer">

          <button type="submit" class="btn btn-primary pull-right">Subir</button>

        </div><!-- /.box-footer -->
      </form>
    </div><!-- /.box -->

  </div>

</section><!-- /.content -->
